@import url('https//fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

header>nav>ul>li {
    display: inline;
    border-radius: 1ex;
    background: linear-gradient(to top);
    margin: 0.25em;
    padding: 4px;
}    

header>nav a {
    text-decoration: none;
    text-shadow: white 1px 1px 3px, white 0px 0px 6px;
    color:  black;
}

header>nav a:hover {
    color:  lightblue;
    text-shadow: black 0px 0px 3px, black 2px 2px 4px;
}    

footer {
    text-align: center;
    font-size: 66%
}

h1 {color: white;
    font-family: 'Gothicl';
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
}

body {background-color:lightblue;
font-family: Arial;
}

.marked {background-color: rgb(195, 225, 235);}
.larger {font-size: larger;}

#first {font-weight: bold;}

li {
    list-style-type: disc;
}    

blockquote {
    border: 3px dotted black;
    text-decoration: underline;
}    

.recommendation {
    background-color: lightpink;
}    