
*{ margin:0px; padding:0px;}
.clr{ clear:both;}
.clr1:after{ clear:both; content:''; display:block; height:0px;}
header>nav>ul>li { 
    border-radius: 1ex;
    background: linear-gradient(to top); 
    width:20%;
    float:left;
    text-align:center;
}    
header>nav{ width:1440px; margin:0 auto; }
header>nav a {
    text-decoration: none;
    text-shadow: white 1px 1px 3px, white 0px 0px 6px;
    color:  black;
    font-size:30px;
    color:#fff;
    line-height:2;
}

header>nav a:hover {
    color:  lightblue;
    text-shadow: black 0px 0px 3px, black 2px 2px 4px;
}    
header>nav li{}
footer {
    text-align: center;
    font-size: 66%
}

h1 {color: white;
    font-family: 'Gothicl';
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
}

body {background-color:lightblue;
font-family: Arial;
}

.marked {background-color: rgb(195, 225, 235);}
.larger {font-size: larger;}

#first {font-weight: bold;}

li {
    list-style-type: none;
}    

blockquote {
    border: 3px dotted black;
    text-decoration: underline;
}    

.recommendation {
    background-color: lightpink;
}    
header{ background:#000;}
main{ width:1440px; margin:0 auto;}
main.index li{ width:30.3333%; float:left; margin:1.5% 1.5%; }
main.index li img{ width:100%;}
main.index h1{ text-align:center;     font-family: 'Satisfy', cursive; line-height:2; font-weight:bolder;}
main.index p{ text-align:center; line-height:3; font-size:20px;}
footer{ background:#000; color:#fff;  line-height:3;}


.message_box { 
    width: 100%;
    overflow: hidden;
    background-color: #f5f6f8;
    padding-top: 16px;
    padding-bottom: 12px;
    margin:70px 0px;
}
.message_box li { 
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom:13px;
}
.message_box li label {
    float: left;
    text-align: right; 
    font-size: 15.08px;
    line-height: 32px;
    width: 22%;
    padding-right: 10px;
    color: #222222;
}
.message_text {
    float: left;
    width: 65%;
    height: 32px;
    line-height: 22px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 0;
}
.textarea_message {
    float: left;
    width: 65%;
    height: 128px;
    line-height: 22px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 0;
}
.tjly_button {
    display: inline-block;
    width: 130px;
    height: 26px;
    overflow: hidden;
    border: none;
    text-align: center;
    line-height: 26px;
    background-color: #abcd03;
    color: #ffffff;
    font-size: 15.08px;
    margin-top: 10px;
}
main.contact h1{ text-align:center;     font-family: 'Satisfy', cursive; line-height:2; font-weight:bolder;}
main.about h1{ text-align:center;     font-family: 'Satisfy', cursive; line-height:2; font-weight:bolder;} 
main.about p{ text-indent:2em;} 
main.about p.img{ text-indent:0; text-align:center;}
main.Inspiration h1{ text-align:center;     font-family: 'Satisfy', cursive; line-height:2; font-weight:bolder;}
main.Inspiration p{ font-family: 'Clicker Script', cursive;
    font-size: 16px;
    line-height: 2;
    color: #666666;
    text-indent:2em;}
main.Inspiration ul{ overflow:hidden;}
main.Inspiration ul li{ float:left; width:47%;   
    margin: 1.5% 1.5%;}
main.Inspiration ul li img{ width:100%;}
.nymain_left { 
    width: 55%;
    overflow: hidden;
    color: #666666;
    font-size: 14px;
    line-height: 2.2em;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom:50px;
}
.nymain_right {
    float: right;
    width: 37%;
    overflow: hidden;
    margin-top: 5px;
}


main.about .message_box {
    width: 100%;
    overflow: hidden;
    background-color: #f5f6f8;
    padding-top: 16px;
    padding-bottom: 12px;
    margin: 10px 0px;
}
main.about .message_box li {
    width: 100%;
    overflow: hidden;
    margin-top: 13px;
    margin-bottom: 0px;
}
main.about .nymain_left p{ font-family: 'Clicker Script', cursive; font-size:16px; line-height:2;}
main.about p img{ width:350px; margin-bottom:30px;}



main.Inspiration .message_box {
    width: 100%;
    overflow: hidden;
    background-color: #f5f6f8;
    padding-top: 16px;
    padding-bottom: 12px;
    margin: 10px 0px;
}
main.Inspiration .message_box li {
    width: 100%;
    overflow: hidden;
    margin-top: 13px;
    margin-bottom: 0px;
}
main.Inspiration .nymain_left p{ font-family: 'Clicker Script', cursive; font-size:16px; line-height:2;}
main.Inspiration p img{ width:300px; margin-bottom:30px;}

@media (max-width: 1440px)
{
    header>nav { width: 100%;  }
    main{ width:100%;  }
    main.index li {
    width: 47%;
    float: left;
    margin: 1.5% 1.5%;
}


.message_box {
    width: 90%; 
    margin: 20px 5%;
}

main.about .message_box {
    width: 90%; 
    margin: 10px 5%;
}
main.Inspiration .message_box {
    width: 90%; 
    margin: 10px 5%;
}
}
@media (max-width: 992px)
{
    header>nav a { 
    font-size: 25px; 
}
    main.index h1 
    {
        font-size: 25px;
}
    .nymain_left {
    width: 100%;
}
    .nymain_right {
    width: 100%;
}
main.index li {
    width: 96%;
    float: none;
    margin: 1.5% 1.5%;
}
    
    }
    
    @media (max-width: 600px)
{ header>nav a { 
    font-size: 13px; 
}
main.about {
    width: 90%;
}
main.Inspiration {
    width: 90%;
}
}


@media (max-width: 360px)
{ 
    main.about p img {
        width: 100%;
        margin-bottom: 30px;
    } 
}
